.upper-bracket {
  background-color: green;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;

  margin-bottom: 30px;
}

.lower-bracket {
  background-color: greenyellow;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.hide {
  display: none;
  opacity: 0;
}